// linear gradient
$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);
$White: #fff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;

}

.purple-background {
  position: absolute;
  left: -80px;
  width: 30%;
  min-width: 350px;
  height: 90%;
  z-index: -1;
  background-image: linear-gradient(30deg, $LightViolet , $LightMagenta 120%);
  border-radius: 0 0 250px 250px;

  @media (max-width: 780px) {
    left: -200px;
    height: 80%;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 100%;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .phone {
      position: relative;
      width: 320px;
      height: 630px;
      background-color: hsl(270, 20%, 96%);
      box-shadow: 0 0 10px 2px #978f8f;
      border-radius: 30px;
      padding: 10px;
      transform: scale(0.9);

      .white-Top {
        background: white;
        position: absolute;
        top: 0;
        width: 70%;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0 0 15px 15px;
      }

      .person {
        display: flex;
        align-items: center;
        background-image: linear-gradient(90deg, $LightViolet, $LightMagenta);
        padding: 40px 20px 20px;
        border-radius: 20px 20px 10px 10px;

        .personName {
          flex: 1;
          display: flex;

          .image {
            margin-left: 10px;
            position: relative;

            &::before,
            &::after {
              content: "";
              position: absolute;
              left: -15px;
              top: 50%;
              width: 8px;
              height: 8px;
              border: 2px solid;
            }

            &::before {
              border-color: transparent transparent transparent $White;
              transform: translateY(-50%) rotate(30deg);
            }

            &::after {
              top: 60%;
              border-color: transparent transparent $White transparent;
              transform: translateY(-50%) rotate(60deg);
            }

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              border: 1px solid $White;
            }
          }

          .name {
            margin-left: 10px;

            span {
              display: block;
              color: $White;

              &:last-child {
                margin-top: 4px;
                color: hsl(276, 100%, 81%);
                font-size: 12px;
              }
            }
          }
        }

        .dots {
          position: relative;
          height: 32px;
          color: $White;

          span {
            position: absolute;

            &:first-child {
              top: 0px;
            }

            &:nth-child(2) {
              top: 4px;
            }

            &:last-child {
              top: 8px;
            }
          }
        }
      }
    }

    .text {
      width: 450px;

      h1 {
        font-size: 40px;
        margin-bottom: 25px;
        font-weight: 500;
        color: hsl(271, 36%, 24%);
      }

      p {
        color: hsl(270, 7%, 64%);
        line-height: 1.8;
      }
    }

    @media (max-width: 992px) {
      width: 700px;

      .text {
        width: 350px;
      }
    }

    @media (max-width: 780px) {
      justify-content: center;
      flex-direction: column;

      .phone {
        transform: scale(0.8);
      }

      .text {
        text-align: center;

      }
    }
  }
}

.phone {
  .messages {
    display: flex;
    flex-direction: column;

    .left-message,
    .right-message {
      width: fit-content;
      max-width: 57%;
      border-radius: 10px;
      font-size: 10px;
    }

    .left-message,
    .right-message,
    .right-message-image,
    .left-check-box,
    .chat-input {
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
    }

    .left-message {
      color: hsl(276, 55%, 52%);
      background-color: rgba(146, 65, 200, 0.1);
    }

    .right-message {
      color: hsl(271, 15%, 43%);
      background-color: #fff;
      box-shadow: 0 6px 8px #ddd;
      align-self: flex-end;
    }

    .right-message-image {
      display: flex;
      align-self: flex-end;

      img {
        border-radius: 10px;
        width: 50px;
        margin-left: 5px;
      }
    }

    .left-check-box {
      width: 70%;
      background-image: linear-gradient(90deg, $LightMagenta, $LightViolet);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 25px;

      input {
        appearance: none;

        &:checked+label::after {
          display: block;
        }
      }

      label {
        font-size: 10px;
        color: hsl(206, 6%, 79%);
        padding-left: 20px;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
        }

        &::before {
          left: -4px;
          width: 14px;
          height: 14px;
          border: 1px solid rgba(#fff, 0.5);
        }

        &::after {
          content: "";
          display: none;
          left: -1px;
          width: 10px;
          height: 10px;
          background-color: hsl(289, 100%, 72%);
        }
      }

      span {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
      }
    }

    .chat-input {
      display: flex;
      align-items: center;


      input {
        flex: 1;
        padding: 10px 10px 10px 20px;
        border: none;
        outline: none;

        &::placeholder {
          font-size: 12px;
          color: hsl(206, 6%, 79%);
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-weight: bold;
        color: $White;
        background-color: hsl(271, 36%, 24%);
      }
    }
  }
}

footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: #000;
  color: $White;
  font-size: 14px;

  a {
    text-decoration: none;
    color: $White;
  }
}